.grid {
  display: grid;
  grid-template-columns: repeat(50, 20px);
  grid-template-rows: repeat(50, 20px);

}

.cell {
  border: 1px solid;
  height: 20px;
  width: 20px;
  color: lightgray;
}

.on {
  background: #000;
}

.off {
  background: #FFF;
}
