.rule-selector {
  height: 100px;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(101, 1fr);
  grid-template-rows: repeat(101, 1fr);
  background: lightgray;
  grid-gap: 1px;
}

.cell {
  height: 0;
  padding-top: 100%;
}

.on {
  background: #000;
}

.off {
  background: #FFF;
}
